.home-page {
  min-height: calc(100vh - 100px);
}
.split-parent {
  height: calc(100vh - 100px);
}

.work-area-form-area-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.asd {
  background-color: #edede9;
  padding: 10px;
}
