.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-left: 20px;
  &__saveArea {
    display: flex;
    align-items: center;
    gap: 10px;
    &__text {
      color: #fff;
      margin: 0;
      font-size: 15px;
      line-height: 1.2;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
