.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-left: 20px;
  @media (max-width: 768px) {
    display: none;
  }
}
