@import "./styles/main.scss";

#root {
  width: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.split-parent {
  height: 100vh;
  position: relative;
}

.split-child {
  height: 100%;
  position: relative;
}

.split-child {
  display: flex;
  flex-direction: row;
}

.pane {
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.gutter-horizontal {
  cursor: ew-resize;
}

.gutter-vertical {
  cursor: ns-resize;
}
.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}
.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAGCAYAAAA7d0VqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA+SURBVHgB5ZDBDQAgDALBuFL/buZq/XeoGn5OgA+bNOHgQQKragHQZ0Skk6cEyd3dkOFklecVwMkDD+/f2Q+o5rT1suDYCAAAAABJRU5ErkJggg==");
}
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}
.pane {
  &__test {
    color: blue;
  }
}
